/*#0088cc; hay que cambiarlo por el color MAS CARACTERISTICO*/
/* #00A286 main interface color */
/* #D2FFAA top bar buttons color, verde fofo*/
/* #323232 tab bar color, gris */
/* #28645A otro verde */
/* Logo font: Yuanti */

.nav-tabs>li>a:hover {
    background-color: #00A286;
    border-color: #00A286;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #00A286;
    border: 1px solid #00A286;
}

.btn-custom {
    border-color: #00A286;
    background-color: #00A286;
}

.btn-custom-border {
    background: transparent;
    border-color: #00A286;
    border-width: 3px;
    color: #ffffff;
}

.features .feature .icon-container .icon {
    border: 1px solid #00A286;
}

.btn-send,
.newsletter input {
    border: 1px solid #ffffff;
}

.btn-send:hover,
.btn-send:active,
.btn-custom:hover,
.btn-custom-border:hover,
.btn-slide:hover,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-toggle {
    background-color: #00A286;
    border-color: #00A286;
}

.btn-slide,
.features .feature:hover .icon-container .icon,
.footer span.jobs {
    background-color: #00A286;
}


.underline {
    border-top: 4px solid #00A286;
}

.underline-small {
    border-top: 2px solid #00A286;
}


.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-nav>li.current a,
.features .feature .icon-container .icon,
.service i,
.service:hover h4,
.screens .screen .hover-screen i:hover,
.packages .package.featured .package-name,
ul.extra-features i,
.footer a:hover,
.footer i:hover {
    color: #00A286;
}

.footer span.jobs:after {
    border-right-color: #00A286;
}